<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario de creación</title>
</head>
<body>
	<h2>Crear un producto</h2>
	<form action="/crear" method="POST">
		<div>
			<label>Nombre:</label> <br>
			<input type="text" name="nombre_producto">
		</div>
		<div>
			<label>Precio:</label> <br>
			<input type="text" name="precio_producto">
		</div>
		<div>
			<label>Descripción:</label> <br>
			<textarea name="descripcion_producto"></textarea>
		</div>
		<button type="submit">GUARDAR</button>
	</form>
</body>
</html>